.approve-button{
    background-color: darkgreen;
    height: 40px;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.reject-button{
    background-color: darkred;
    height: 40px;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.delete-button{
    background-color: red;
    height: 40px;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    
}
.view-button{
    background-color: blue;
    height: 40px;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.edit-button{
    background-color: darkblue;
    height: 40px;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.edit-button:hover{
    background-color: blue;
    color: white;
    transition: 0.3s;
}

.view-button:hover{
    background-color: darkblue;
    color: white;
    transition: 0.3s;
}

.approve-button:hover{
    background-color: green;
    color: white;
    transition: 0.3s;
}
.reject-button:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}
.delete-button:hover{
    background-color: darkred;
    color: white;
    transition:0.3s;
}

.add-button{
    background-color: #0d6efd;
    height: 45px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    justify-content: center;
    border-color: #0d6efd;
    border: none;
    
}

.add-button:hover{
    background-color: darkblue;
    color: white;
    transition: 0.3s;
    border: none;
    
}

.close-button{
    background-color: darkred;
    height: 45px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    justify-content: center;
    border-color: #0d6efd;
    border: none;
    
}

.close-button:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
    border: none;
    
}

.add2-button{
    background-color: #0d6efd;
    height: 45px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    justify-content: center;
    border-color: #0d6efd;
    border: none;
    text-decoration: none;
    
}